/* media query */
$lg: 1334;
$md: 1000;
$sm: 750;

$zIndex: (
  exhibitButton: 20,
  newProductHint: 20,
  soldTick: 10,
  purchaseField: 30,
);

$common-red: #e3463d;
$common-light-gray: #efefee;
$main-font-black: #505050;
$main-font-gray: #a2a3a3;
$main-font-deep-gray: #747474;
